*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mainContainer{
    width: 100%;
    height: 100vh;
   background-color: blueviolet;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(../asset/bg\ \(3\).jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   flex-direction: column;
   position: relative;

}
.mainContainer h1{
font-size: 35px;
text-transform: uppercase;
color: black;
}
.mainContainer button{
background-color: pink;
outline: none;
border: none;
border-radius: 15px;
width: 150px;
height: 30px;
color: white;
text-transform: capitalize;

}
.overlay{
    width: 100%;
    height: 100bh;
    background-color: black;
    position: absolute;
}
.mainContainer p{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.text{
    width: 100%;
    height: 100bh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content1{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#54BAB9;
    color: white;
   
}
.content1 h1{

}
.content1 p{
    margin-top:  20px;
    margin-bottom: 20px;
    width: 50%;
    text-align: justify;
}
.content2{
    background-color: #FF7878;
}
.content3{
    background-color: #A267AC;
}
/* section3 */
.OurTeam{
    width: 100%;
    height: 600px;
    background-color: #DFD3C3;

}
.TextArea{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #986D8E;
    font-size: 25px;
}
.CardContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card{
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
}
.imgHolder{
    width: 100%;
    height: 60%;
    background-color: rgb(199, 13, 13);
    overflow: hidden;
    border-radius: 20px;
}
.cardimg{
    width: 100%;
    height: auto;
}
.CardText{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;

}
.CardText h1{
    font-family: sans-serif;
    font-size: 20px;

}
.CardText p{
    color: gray;
    margin-top: 20px;


}
.Block4{
    width: 100%;
    height: 100px;
    background-color: #FA9191;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Block4 p{
    color: white;
    font-size: 17px;
    
}
.bcn1{
    color: rgb(225, 36, 68);
    background-color: white;
    outline: none;
    border: none;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    
}